<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Outcome in a specific day</title>
</head>
<body>
    {% if data_dict %}
    <h2>This day you {{ date_object }} your outcome was:</h2>
    <table>
      <tr>
        <th>Category</th>
        <th>Outcome</th>
      </tr>
      {% for key, value in data_dict.items %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ value }}</td>
      </tr>
      {% endfor %}
    </table>
    <p>Your total outcome is {{ total_outcome }}</p>
    {% else %}
    <p>You didn't have any outcome this day {{ date_object }}</p>
    {% endif %}
</body>
</html>