<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Income page</title>
  </head>
  <body>
    <form action="{% url 'finances:add_income' %}" method="post">
      {% csrf_token %} {% if messages %} {% for message in messages %}
      <div class="{{ message.tags }}">{{ message }}</div>
      {% endfor %} {% endif %} Your income:<br />
      <input name="income" />
      <input type="submit" value="Submit" />
    </form>
    <a href="{% url 'finances:index' %}">Back to the index page?</a>
  </body>
</html>
